navbar a{
    text-decoration: none;
    display: block;
    padding: 15px;
    color: white;
}
navbar ul{
    list-style-type:none;
    background-color: hsl(0,0%,25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    width: 60%;
}
navbar a:hover{
    background-color: hsl(0,0%,10%);
    font-size: 22px;
}
narbar li{
    float: left;
    padding-left: 20px;
}